@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SUPPLEMENT FACTS</h1>
    <p class="lead">Supplement Facts is alway necessary in our life</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>
